<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <img class="card-img-top img-thumbnail img-fluid" src="https://picsum.photos/200/220/?random" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                    anim id est laborum.</p>
                <div>
                    <div class="float-left d-inline">$123</div>
                    <a href="#" class="btn btn-success float-right">Buy</a>
                </div>
            </div>
        </div>
    </div>
</div>